<!DOCTYPE html>
<html>

<head>
    <title>Postal Calculation Result</title>
</head>

<body>
    <h1>Postal Calculation Result</h1>
    <p>It costs
        <%= cost %> to mail a
            <%= option %> that weighs
                <%= weight %> pounds.
    </p>
</body>

</html>